
@model Challenge2Alkemy.Models.PostViewModel
@{
    ViewData["Title"] = "DESTACADOS";
}
<h2>@ViewBag.Title</h2>
<div class="row">

    <div class="col-md-12">
        <form asp-action="RandomPost" method="post">

            <input type="hidden" asp-for="Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>Titulo</h3>
            </div>
            <div class="form-group">
                <p class="accordion">Contenido</p>
            </div>
            <div class="form-group">
                <h4>Categoria: Categoria</h4>
            </div>
            <div class="form-group">

                <h4>Fecha</h4>
                <h4>FechaDeCreacion</h4>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    Imagen
                </div>
            </div>

        </form>
    </div>
</div>
